.footer {
  padding-bottom: 3rem;
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(247, 247, 252));
}

.footer ul {
  margin-bottom: 10px;
}

.footer li {
  font-size: $font-size-sm;
  margin-bottom: 0;
}

@include media-breakpoint-up(md) {
  .footer li {
    font-size: $font-size-base;
  }
}

hr {
  margin: auto;
}

ul.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.social-link svg {
  width: 40px;
  height: 30px;
  margin-right: -20px;
  margin-bottom: -30px;
}

/* new style */
.social-links-container {
  display: flex;
  flex-flow: row nowrap; /* Use flex-flow shorthand property */
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-links-container li {
  margin: 5px;
}

/* center footer links */
.footer-links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.footer-links li {
  margin: 10px;
}
