.docs-content {
  background-color: #ebebeb;
}

[data-dark-mode] .docs-content {
  background-color: #131116;
}

.docs-content > h2[id]::before,
.docs-content > h3[id]::before,
.docs-content > h4[id]::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  content: "";
}

.anchor {
  visibility: hidden;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
  text-decoration: none;
}

body .card {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  color: #000;
  transition: all 0.3s ease;
}

body .card:hover {
  background-color: transperent;
  transform: translateY(-5px);
}

[data-dark-mode] body .card {
  background-color: hsla(240, 10%, 8%, 0.95);
  border: 0.1px solid transperent;
  color: #fff;
  transition: all 0.3s ease;
}

[data-dark-mode] body .card:hover {
  background-color: transperent;
  transform: translateY(5px);
}

.img-border {
  border: solid #333;
  background-color: #a4a4a4;
  width: fit-content;
}

.card-list {
  margin-top: 2.25rem;
}

.card-title {
  font-size: 15px;
  font-weight: 100;
  color: $purple;
}

.page-footer-meta {
  margin-top: 3rem;
}

.edit-page,
.last-modified {
  font-size: $font-size-sm;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

@include media-breakpoint-up(md) {
  .edit-page,
  .last-modified {
    font-size: $font-size-base;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
  }
}

.edit-page svg,
.last-modified svg {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

p.meta {
  margin-top: 0.5rem;
  font-size: $font-size-base;
}

.breadcrumb {
  margin-top: 2.25rem;
  font-size: $font-size-base;
}

.page-link:hover {
  text-decoration: none;
}

#text-container1 {
  font-size: 15px;
  font-family: monospace;
  white-space: pre-line;
  overflow: hidden;
  text-align: left;
}

/* text animation */
#text-container {
  font-size: 15px;
  font-family: monospace;
  white-space: pre-line;
  overflow: hidden;
  text-align: left;
}

.diagram-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.step {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 10px;
  height: 200%;
  width: 200%;
  border-radius: 100%;
  background-color: invert;
}

.step-text {
  font-size: 0.9rem;
  font-weight: bold;
  color: #666;
  width: 150px;
  margin: 0 20px;
  z-index: 2;
}

.step::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  top: 45%;
  background-color: invert;
  z-index: -1;
}

.step::after {
  content: "";
  position: absolute;
  height: 10px;
  width: calc(100% - 110px);
  top: 45%;
  right: -5px;
  background-color: invert;
  z-index: -1;
}

.step.step-1::before {
  width: 0%;
  background-color: #ccc;
}

.step.step-4::after {
  display: none;
}
