/*

Based on Ascetic by (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  background: $beige;
  color: $body-color;
}

.hljs-string,
.hljs-variable
.hljs-template-variable,
.hljs-symbol,
.hljs-bullet,
.hljs-section,
.hljs-addition,
.hljs-attribute,
.hljs-link {
  color: $pink-500;
}

.hljs-comment,
.hljs-quote,
.hljs-meta,
.hljs-deletion {
  color: #888888;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-name,
.hljs-type,
.hljs-strong {
  font-weight: bold;
  color:rgb(0, 146, 141);
}

.hljs-emphasis {
  font-style: italic;
  color: deeppink;
  
}

[data-dark-mode] body .hljs {
  background: rgb(30, 32, 48);
  color: rgb(255, 236, 236);
}

[data-dark-mode] body .hljs-string{
  color: rgb(255, 122, 20);
}

[data-dark-mode] body .hljs-variable{
  color: rgb(20, 75, 255);
}

[data-dark-mode] body .hljs-template-variable{
  color: rgb(22, 251, 121);
}

[data-dark-mode] body .hljs-symbol{
  color: deeppink;
}

[data-dark-mode] body .hljs-bullet{
  color: rgb(255, 20, 20);
}

[data-dark-mode] body .hljs-section{
  color: rgb(20, 122, 255);
}

[data-dark-mode] body .hljs-addition{
  color: rgb(20, 255, 177);
}

[data-dark-mode] body .hljs-attribute{
  color: rgb(0, 10, 157);
}

[data-dark-mode] body .hljs-link{
  color: rgb(10, 153, 0);
}
