<footer class="footer text-muted" style="bottom:0; width:100%;">
  <hr class="text-black-50 my-4 d-lg-2" style="width: 80%;">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row">
      <div class="col-lg-16">
        <div class="social-links-container">{{ range .Site.Menus.social -}}
          <ul class="nav">
            <li class="nav-item">
              <a class="social-link" href="{{ .URL | relURL }}">
                {{ .Pre | safeHTML }}
                <small class="ms-2 d-lg-none">{{ .Name | safeHTML }}</small>
              </a>
            </li>
          </ul>{{ end -}}
        </div>
      </div>
      <div class="col-lg-16">
        <div class="text-center">
          <ul class="list-inline footer-links">
            {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end -}}
            <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
</div>
</footer>

