{{ define "main" }}
{{ .Content }}
<div class="row justify-content-center">
	<div class="col-md-12 col-lg-10 col-xl-8">
		
<article>
<br><br>


<img src="12.png" style="width: 20%; border: 1px solid #000; border-radius: 10%;">   
<br><br>
 

<p style="font-size: 22px; font-weight: 100;">Tom Rosenzweig
</p> 
<p style="font-size: 16px; font-weight: 200; margin-top: -20px;">Security Researcher and Analyst 
</p>
<hr style="color: rgb(17, 97, 114)">

 <!-- <br><br>
    <div id="text-container"></div>
   <script src="/animation.js"></script>
<br><br> -->

<p style="font-size: 16px; font-weight: 200;">	
<br>My journey into the field of Cyber-Security and IT began in 2021, and since then, I have been dedicated to developing my skills and expertise in this dynamic and ever-evolving industry. <br><br> The purpose of creating this website is to share my documentation and projects, and to create a centralized toolkit by compiling and organizing all the necessary resources in one place, this website serves as a valuable reference point for me to quickly access the tools, techniques, and knowledge I need for my work in the industry. It is my hope that it can also serve as a useful resource for others in the field. <br><br> Thank you for visiting! If you have any questions or comments, please contact me via Linkedin or GitHub on the icon links below! <br><br>
</p>
</article>
</div>
</div>
{{ end }}
